.input {
  width: 100%;
  padding: 6px 8px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom: 2px solid;
  border-color: var(--input-border);
  background-color: var(--input-bc);
  font-size: 36px;
  transition: 0.2s;

  &:focus,
  &:hover {
    border-color: var(--input-focus-border);
  }

  &:focus {
    background-color: var(--input-focus-bc);
  }

  &:hover {
    background-color: var(--input-hover-bc);
  }
}
