.converter {
  margin: -100px auto;
  padding: 40px 20px;
  max-width: 768px;
  border-radius: 4px;
  background-color: var(--converter-bc);
  -webkit-box-shadow: 0 10px 20px 0 rgb(179 187 198 / 45%);
  -moz-box-shadow: 0 10px 20px 0 rgb(179 187 198 / 45%);
  box-shadow: 0 10px 20px 0 rgb(179 187 198 / 45%);

  .svg {
    width: 24px;
    height: 24px;
  }

  &__inputs {
    display: flex;
    align-items: center;
    gap: 0 20px;

    @media (max-width: 640px) {
      flex-direction: column;
      gap: 20px 0;
    }
  }

  &__annotation {
    margin-top: 26px;
    font-size: 10px;
    color: var(--txt-muted);
  }

  select {
    width: 100%;
    padding: 4px 6px;
    font-size: 28px;
    margin-bottom: 16px;
    border: none;
    outline: none;
    border: 1px solid var(--select-border);
    box-shadow: 0px 0px 8px rgb(179 187 198 / 45%);
    -webkit-box-shadow: 0px 0px 8px rgb(179 187 198 / 45%);
    -moz-box-shadow: 0px 0px 8px rgb(179 187 198 / 45%);
    border-radius: 4px;
    transition: 0.2s;

    &:hover {
      border-color: var(--select-hover-border);
    }
  }

  .input {
    width: 100%;
    padding: 6px 8px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom: 2px solid;
    border-color: var(--input-border);
    background-color: var(--input-bc);
    font-size: 36px;
    transition: 0.2s;

    &:nth-last-child(2) {
      color: red;
    }

    &:focus,
    &:hover {
      border-color: var(--input-focus-border);
    }

    &:focus {
      background-color: var(--input-focus-bc);
    }

    &:hover {
      background-color: var(--input-hover-bc);
    }
  }
}
